@import url(https://fonts.googleapis.com/css?family=Open+Sans|Raleway);
@import url(https://fonts.googleapis.com/css?family=Raleway:900);
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap');
*,:after,:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
body,html{
    font-size:100%;
    padding:0;
    margin:0;
    overflow-x:hidden;
    
  -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
     -o-font-smoothing:antialiased;
    
    
    
} 



.navbar-custom {
    background: rgba(255,255,255,1);
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.7);*/
    top: 0 !important;
    
}

.navbar-custom .navbar-brand{
    color: black;
    padding: 0.8rem 1rem;
    
}
/* change the link color and add padding for height */ 
.navbar-custom .navbar-nav .nav-link {
    color: black;
    padding: 1rem 1rem;
    text-align: center;
    font-size: 16px;
} 
/* change the color of active or hovered links */

.navbar-custom .nav-item:hover .nav-link {
    color: white;
    background-color:#f26611; 
    border-radius: 4px;
    transition: 0.5s;
} 

.navbar img{
    height: 70px;
    width : auto;
} 

.log-in-button {
    padding: 1% 6%;
}

.btn-login {
    background: #bd1d46;
    color: white;
    border:none;
    width:100%;
    
    border-radius: 25px;
}

.text-center {
    text-align: center;
}
/*.log-in-button button{
    background: #bd1d46;
    color: white;
    padding: 2%;
    border-radius: 20px;
    border:none;
}*/

/*****HOME SECTION******/

.home {
        background:url(../img/home-bg.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        width:100%;
        height:100vh;
        min-height: 700px;
        padding-top: 20px;
    }


.home h1 { 
    letter-spacing:3px;
    font-size: 85px;
    font-weight:900;
    color: #ff8a45;
    margin-top: 200px;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align:left;  
} 


.home h6 { 
    letter-spacing:3px;
    font-size: 25px;
    font-weight:600;
    color: #ff8a45;
    margin-top: 10px;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align:left;  
} 


@media(max-width:1024px){
 
  
}


@media(max-width:1366px){
 
    
 .navbar img{
    height: 70px;
    width : auto;
}
    
    
.home {
        background:url(../img/home-bg.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        width:100%;
        height:auto;
        min-height: 700px;
        padding-top: 20px;
    }


.home h1 { 
    letter-spacing:3px;
    font-size: 65px;
    font-weight:900;
    color: #ff8a45;
    margin-top: 100px;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align:left;  
} 

    
    
    
}




/*****ABOUT US SECTION******/

.about-wrapper {
        background:url(../img/about-bg.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        width:100%;
        height:100vh;
        min-height: 700px;
        padding-top: 100px;
    }




.about-wrapper h1 { 
    letter-spacing:3px;
    font-size: 75px;
    font-weight:800;
    color: #ff8a45;
    margin-top: 80px;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align:left;  
} 



.about-wrapper p{
    font-size: 14px;
    font-weight:normal;
    color: #414141;
    line-height: 2.2em;
    font-family: 'Montserrat', sans-serif;   
    text-align:left;
    }



@media(max-width:1370px) {
 .about-wrapper {
        background:url(../img/about-bg.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        width:100%;
        height:auto;
        min-height: 700px;
        padding-top: 100px;
    }
   
    
}


@media(max-width:720px) {
    
.about-wrapper {
        background:url(../img/about-bg-2.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        width:100%;
        height:auto;
        min-height: 700px;
        padding-top: 50px;
    }




.about-wrapper h1 { 
    letter-spacing:3px;
    font-size: 75px;
    font-weight:800;
    color: #ff8a45;
    margin-top: 40px;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align:left;  
} 
    
.about-wrapper p{
    font-size: 12px;
    font-weight:normal;
    color: #414141;
    line-height: 2.2em;
    font-family: 'Montserrat', sans-serif;   
    text-align:justify;
    }
    
    
    
}

/*****PROJECTS SECTION******/
.projects-header{
        background:url(../img/projects-bg.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        width:100%;
        height:auto;
        padding-top:250px;
         padding-bottom:150px;
    }




.projects-header h1 {
    letter-spacing:3px;
    font-size: 75px;
    font-weight:800;
    color: #ffff;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
    
    
} 

@media(max-width:720px) {
    
    .projects-header{
        background:url(../img/projects-bg2.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        width:100%;
        height:auto;
        padding-top:200px;
         padding-bottom:100px;
    }




.projects-header h1 {
    letter-spacing:3px;
    font-size: 55px;
    font-weight:800;
    color: #ffff;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
    
    
} 
    
}


embed {
        background-color: transparent;
    }
    

/*****OUR SERVICES SECTION******/
#service{
        background-color:#fff;
        background-size:cover;
        height:auto;
        width:100%;
        padding:40px 60px;
     
    }




#service h1 {
    letter-spacing:3px;
    font-size: 75px;
    font-weight:800;
    color: #f26611;
    padding-bottom:1% ;
    margin-top: 70px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
    
    
} 


  
    #service img {
        margin-top: 0px;
    }

.service-card {
    background:#f26611;
    height:19em; 
    padding:3%;
    margin: 70px auto 0 auto;
    border-radius: 0px;
  
}

.service-card h3 {
    letter-spacing:3px;
    font-size: 75px;
    font-weight:800;
    opacity: 0.9;
    color:#fff;
    padding-bottom:0% ;
    font-family:'Montserrat', sans-serif;   
    text-align: left;
    margin-bottom: 0%;
    margin-top: 2px;
} 



.service-card p {
    letter-spacing:1px;
    font-size: 14px;
    font-weight:300;
    color: #ffff;
    opacity: 0.9;
    line-height: 1.8em;
    padding-bottom:5px;
    font-family:'Montserrat', sans-serif;   
    text-align: left;
} 




@media(max-width:820px)  {
    #service{
        background-color:#fff;
        background-size:cover;
        height:auto;
        width:100%;
        padding:15% 0;
        
    }
    
    #service h1 {
    letter-spacing:3px;
    font-size: 45px;
    font-weight:800;
    color: #f26611;
    padding-bottom:1% ;
    margin-top: 50px;
    margin-bottom: 20px;    
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
    
    
} 

    
    #service img {
        margin-top: 30px;
    }
    
   .service-card {
    background:#f26611;
    height:auto; 
    padding:3%;
    margin: 10px auto 0 auto;
    border-radius: 0px;
  
}

    
    .service-card h3 {
    letter-spacing:3px;
    font-size: 35px;
    font-weight:800;
    opacity: 0.8;
    color:#ffff;
    padding-bottom:1% ;
    font-family:'Montserrat', sans-serif;   
    text-align: left;
    margin-bottom: 2%;
    margin-top: 20px;    
}
    
    .service-card p {
    letter-spacing:1px;
    font-size: 12px;
    font-weight:300;
    color: #ffff;
    opacity: 0.9;
    line-height: 1.8em;
    padding-bottom:5px;
    font-family:'Montserrat', sans-serif;   
    text-align: left;
} 

}


/*****SUPPORT******/

#support {
        background:url(../img/support.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        height:100vh;
        min-height: 700px;
        width:100%;
        padding:15% 0 10% 0;
        letter-spacing: 2px;
     
    }


#support  h2 {
    letter-spacing:3px;
    font-size: 65px;
    font-weight:800;
    margin-bottom: 30px;
    color: #ffff;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
} 


.support-card {
    background: rgba(255,255,255,0.9);
    height:20em;
    width:100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);  
    padding:10%;
    border-radius:5px;
    text-align: center;
    margin-top: 5%;
    
} 

.support-card button {
    background: #f26611; 
    padding: 7px 20px;
    border-radius: 50px;
    color:#fff;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif; 
}


.support-card button:hover{
   color:#fff;  
}

.support-card img {
    width:80px;
    height: auto;
    margin-bottom: 10px;
}

.support-card h4 {
    letter-spacing:1px;
    font-size: 25px;
    font-weight:800;
    color: #3A3A3A;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
    margin-top: 10px;
}


.support-card h6 {
    letter-spacing:1px;
    font-size:35px;
    font-weight:800;
    color: #3A3A3A;
    opacity: 0.5;
    line-height: 2em;
    font-family: 'Montserrat', sans-serif;   
    text-align:center;
} 

.modal-title {
    font-family: 'Montserrat', sans-serif;   
    text-align:center;
    font-weight: 700;
}

.modal-body {
   font-family: 'Montserrat', sans-serif;   
    text-align:left;
    line-height: 1.8em;
    font-weight: 500; 
}

.modal-content {
    border:none!important;
}

@media(max-width:1024px) {
    
    
    #support {
        background:url(../img/support.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        height:auto;
        min-height: 700px;
        width:100%;
        padding:22% 0 10% 0;
        letter-spacing: 2px;
     
    }
    
     .support-card {
    background: rgba(255,255,255,0.9);
    height:auto;
    width:100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);  
    padding:10%;
    border-radius:5px;
    text-align: center;
    margin-top: 5%;
    
} 
    
}

@media(max-width:720px)  {
    #support {
        background:url(../img/supoort-2.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        height:auto;
        min-height: 700px;
        width:100%;
        padding:200px 0 25% 0;
        letter-spacing: 2px;
     
    }
    
    #support  h2 {
    letter-spacing:3px;
    font-size: 45px;
    font-weight:800;
    margin-bottom: 30px;
    color: #ffff;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
} 

    
    .support-card {
    background: rgba(255,255,255,0.9);
    height:auto;
    width:100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);  
    padding:10%;
    border-radius:5px;
    text-align: center;
    margin-top: 5%;
    
} 
}

/*****CONTACT SECTION******/


#contact {
         background:url(../img/contact-bg.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        width:100%;
        height:100vh;
        min-height:700px;
        width:100%;
        padding:15% 0 5% 0;
        letter-spacing: 2px;
      color:#ffff;
    }


#contact h1 {
     letter-spacing:3px;
    font-size: 70px;
    font-weight:600;
    color: #ffff;
    padding-bottom:5% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: left;
} 

#contact h4 {
     letter-spacing:1px;
    font-size: 20px;
    font-weight:normal;
    color: #ffff;
    padding-bottom:1%;
    margin-top:10px;
    font-family: 'Montserrat', sans-serif;   
    text-align:left;
} 

#contact h6 {
     letter-spacing:1px;
    font-size: 14px;
    font-weight:300;
    color: #ffff;
    line-height: 1.8em;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align:left;
} 


.ref-link {
    border-top: 1px #5c5c5c solid;
    margin-top: 165px;
}


.ref-link h5{
     font-size: 14px;
    font-weight:300;
    color: #ffff;
    line-height: 1.8em;
    padding-top:10px ;
    font-family: 'Montserrat', sans-serif;   
}


.ref-link h5 a {
    color:#fff;
}

.ref-link h5 a:hover {
    color:#fff;
}



footer {
    background-color:#1d1d1d;
    color: #fff;
    text-align: center;
    padding-top:2%;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;   
} 

footer p{
    font-size: 12px;
}

footer a {
    color:#fff;
    font-family: 'Montserrat', sans-serif;   
}

footer a:hover {
    color:#fff;
    font-family: 'Montserrat', sans-serif;   
}

.footer-img img {
    height:75px;
    width:auto;
}

@media(max-width:720px) {
    
#contact {
         background:url(../img/contact-bg.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        width:100%;
        height:auto;
        min-height:700px;
        width:100%;
        padding:45% 0 5% 0;
        letter-spacing: 2px;
      color:#ffff;
    }


#contact h1 {
     letter-spacing:3px;
    font-size: 50px;
    font-weight:700;
    color: #ffff;
    padding-bottom:5% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: left;
} 
    
    #contact h4 {
     letter-spacing:1px;
    font-size: 20px;
    font-weight:normal;
    color: #ffff;
    padding-bottom:1%;
    margin-top:30px;
    font-family: 'Montserrat', sans-serif;   
    text-align:left;
}
    
    .ref-link {
    border-top: 1px #5c5c5c solid;
    margin-top: 65px;
}
    
    
  .ref-link h5{
     font-size: 10px;
    font-weight:300;
    color: #ffff;
    line-height: 1.8em;
    padding-top:10px ;
    font-family: 'Montserrat', sans-serif;   
}
    
    footer {
    background-color:#1d1d1d;
    color: #fff;
    text-align: center;
    padding-top:5%;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;   
} 

footer p{
    font-size: 10px;
}

footer a {
    color:#fff;
    font-family: 'Montserrat', sans-serif;   
}

footer a:hover {
    color:#fff;
    font-family: 'Montserrat', sans-serif;   
}
  
}
