@import url(https://fonts.googleapis.com/css?family=Open+Sans|Raleway);
@import url(https://fonts.googleapis.com/css?family=Raleway:900);
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap');
*,:after,:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
body,html{
    font-size:100%;
    padding:0;
    margin:0;
    overflow-x:hidden;
    
  -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
     -o-font-smoothing:antialiased;
    
    
    
} 



.navbar-custom {
    background: rgba(255,255,255,1);
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.7);*/
    top: 0 !important;
    
}

.navbar-custom .navbar-brand{
    color: black;
    padding: 0.5rem 1rem;
    
}
/* change the link color and add padding for height */ 
.navbar-custom .navbar-nav .nav-link {
    color: black;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 16px;
} 
/* change the color of active or hovered links */

.navbar-custom .nav-item:hover .nav-link {
    color: white;
    background-color:#2e8eff;; 
    border-radius: 4px;
    transition: 0.5s;
} 

.navbar img{
    height: 60px;
    width : auto;
} 



.text-center {
    text-align: center;
}


/*****HOME SECTION******/

.v-header{
  height:100vh;
  display:flex;
  align-items:center;
  color:#2b2b2b;
 min-height: 600px;    
}

.container2{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}

.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
    min-height: 600px;
  overflow:hidden;
}

.fullscreen-video-wrap video{
  min-height:100%;
  min-width:100%;
}

.header-overlay{
  height:100vh;
  min-height: 600px;    
  position: absolute;
  top:0;
  left:0;
  width:99vw;
  z-index:1;
  /*background:#2e8eff;*/
  background-image: linear-gradient(-90deg,#2e8eff, #000);
  opacity:0.80;
}

.header-content{
  z-index:2;
}

.header-content h1{
   color:#fff;    
  font-size:70px;
  font-weight: 800;
   font-family: 'Montserrat', sans-serif;     
  margin-bottom:0;
    margin-top: 10px;
}

.header-content span {
    padding: 0 20px;
}

.header-content h3{
   color:#fff;    
  font-size:30px;
  font-weight: 700;
 margin-top: 150px;
    letter-spacing: 3px;
   font-family: 'Montserrat', sans-serif;     
}

.header-content p{
   /*background: rgba(255,255,255,0.9);*/
    height:auto;
    width:auto;
  font-size:14px;
  display:block;
     color:#ffff;
    line-height: 1.8em;
     font-weight: 400;
   font-family: 'Montserrat', sans-serif; 
    margin-top: 3px;
    
    
}

.home-about {
    display: none;
}




@media(max-width:1366px) {
  .header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
min-height: 600px;
  z-index:1;
  background-image: linear-gradient(-90deg,#2e8eff, #000);
  opacity:0.60;
}  
}


@media(max-width:1024px){
 
     .container2{
    padding-right:auto;
    padding-left:auto;
         padding-top: 50px;
         margin:0 auto;
  }
    
    .header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
min-height: 600px;
  z-index:1;
 background-image: linear-gradient(-90deg,#2e8eff, #000);
  opacity:0.60;
}
   

.header-content h1{
     color:#ffff; 
    font-size:40px;
  font-weight: 800;
   font-family: 'Montserrat', sans-serif;       
  margin-bottom:0;
    letter-spacing: 2px;
}
}


@media(max-width:720px){
 
    
 .navbar img{
    height: 60px;
    width : auto;
}
    
    
    .header-content h1{
   color:#ffff;    
  font-size:40px;
  font-weight: 800;
   font-family: 'Montserrat', sans-serif;     
  margin-bottom:0;
}

.header-content p{
    background:#2e8eff;
    height:auto;
    width:auto; 
    padding: 15px 15px;
    font-size:12px;
    display:block;
     color:#fff;
     font-weight: 400;
   font-family: 'Montserrat', sans-serif; 
    margin-top: 20px;
    text-align: justify;
    border-radius: 10px;
    
}
    
    .header-content span {
    padding: 0 5px;
}

        
.header-content h3{
   color:#fff;    
  font-size:20px;
  font-weight: 700;
margin: 180px auto 10px auto;
   font-family: 'Montserrat', sans-serif;     
  margin-bottom:0;
}

 .home-about {
    display:none;
    
}

    
    
}


@media(max-width:320px) {
     
    
     .navbar img{
    height: 55px;
    width : auto;
}
    
    .header-content h1{
   color:#ffff;    
  font-size:30px;
  font-weight: 800;
   font-family: 'Montserrat', sans-serif;     
  margin-bottom:0;
    margin-top: 5px;    
} 
    
     .header-content span {
    padding: 0 2px;
}

.header-content h3{
   color:#fff;    
  font-size:18px;
  font-weight: 700;
margin: 10px auto 5px auto;
   font-family: 'Montserrat', sans-serif;     
  margin-bottom:0;
}
    
    .header-content p {
        display: none;
    }
    
 .home-about {
    display:block;
     background: #2e8eff;
     border-radius: 5px;
     margin:15px auto;
     text-align: justify;
     padding: 25px 15px 5px 15px;
}
    
  .home-about p{
   color:#fff;
     font-family: 'Montserrat', sans-serif;     
      font-size: 12px;
      
}   
    
    
    
}




/*****BELIEVES SECTION******/

#believes {
    background: #efefef;
    padding: 60px 20px;

}

.believes-card {
   background: rgba(255,255,255,0.9);
    height:auto;
    width:90%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);  
    padding: 25px 20px 5px 20px;
    border-radius: 7px; 
    margin:20px auto 0 auto;
    transition: 0.5s;
}

.believes-card:hover {
     background: rgba(255,255,255,0.9);
    height:auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);  
    width:92%;
}

.believes-card h1 { 
    letter-spacing:3px;
    font-size: 55px;
    font-weight:800;
    color:#2e8eff;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
} 

.believes-card h3 span {
     color:#2e8eff;
    opacity: 0.4;
    font-weight: 800;
}

.believes-card h3 { 
    letter-spacing:1px;
    font-size: 35px;
    font-weight:800;
    color:#2e8eff;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align:left;
} 

.believes-card p { 
    font-size: 14px;
    font-weight:400;
     color:#2b2b2b; 
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align:left;
} 



.believe-header{
        background:url(../img/about-bg2.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-attachment: fixed;
        width:100%;
        height:auto;
        padding-top:250px;
         padding-bottom:150px;
    }




.believe-header h1 { 
    letter-spacing:3px;
    font-size: 75px;
    font-weight:800;
    color: #ffff;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;  
} 


@media(max-width:720px) {
    
    
#believes {
    background: #efefef;
    padding: 30px 5px;

}

.believes-card {
   background: rgba(255,255,255,0.9);
    height:auto;
    width:98%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);  
    padding: 25px 5px 5px 5px;
    border-radius: 7px; 
    margin:20px auto 0 auto;
    transition: 0.5s;
}

.believes-card:hover {
     background: rgba(255,255,255,0.9);
    height:auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);  
    width:98%;
}

.believes-card h1 { 
    letter-spacing:2px;
    font-size: 30px;
    font-weight:800;
    color:#2e8eff;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
} 

.believes-card h3 span {
     color:#2e8eff;
    opacity: 0.4;
    font-weight: 800;
}

.believes-card h3 { 
    letter-spacing:1px;
    font-size: 20px;
    font-weight:800;
    color:#2e8eff;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align:left;
}     
    
 .believes-card p { 
    font-size: 12px;
    font-weight:400;
     color:#2b2b2b; 
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align:justify;
}    
    
.believe-header{
        background:url(../img/about-bg3.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        width:100%;
        height:auto;
       background-attachment: scroll;
        padding-top:200px;
         padding-bottom:100px;
    }


.believe-header h1 {
    letter-spacing:3px;
    font-size: 55px;
    font-weight:800;
    color: #ffff;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
    
    
} 
    
    } 
  