@import url(https://fonts.googleapis.com/css?family=Open+Sans|Raleway);
@import url(https://fonts.googleapis.com/css?family=Raleway:900);
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap');
*,:after,:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
body,html{
    font-size:100%;
    padding:0;
    margin:0;
    overflow-x:hidden;
} 



.navbar-custom {
    background: rgba(255,255,255,1);
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.7);*/
    top: 0 !important;
    
}

.navbar-custom .navbar-brand{
    color: black;
    padding: 0.8rem 1rem;
    
}
/* change the link color and add padding for height */ 
.navbar-custom .navbar-nav .nav-link {
    color: black;
    padding: 1rem 1rem;
    text-align: center;
    font-size: 16px;
} 
/* change the color of active or hovered links */

.navbar-custom .nav-item:hover .nav-link {
    color: white;
    background-color:#f26611; 
    border-radius: 4px;
    transition: 0.5s;
} 

.navbar img{
    height: 70px;
    width : auto;
} 

.log-in-button {
    padding: 1% 6%;
}

.btn-login {
    background: #bd1d46;
    color: white;
    border:none;
    width:100%;
    
    border-radius: 25px;
}

.text-center {
    text-align: center;
}
/*.log-in-button button{
    background: #bd1d46;
    color: white;
    padding: 2%;
    border-radius: 20px;
    border:none;
}*/

/*****HOME SECTION******/

.v-header{
  height:100vh;
  display:flex;
  align-items:center;
  color:#2b2b2b;
 min-height: 600px;    
}

.container2{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}

.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
    min-height: 600px;
  overflow:hidden;
}

.fullscreen-video-wrap video{
  min-height:100%;
  min-width:100%;
}

.header-overlay{
  height:100vh;
  min-height: 600px;    
  position: absolute;
  top:0;
  left:0;
  width:99vw;
  z-index:1;
  background:#f26611;
  opacity:0.60;
}

.header-content{
  z-index:2;
}


.header-content button{
    background-color: #fff;
    padding: 10px 45px;
    border-radius: 100px;
    border:none;
    margin-top: 50px;
} 


.header-content button a {
  color:#f26611; 
  font-size:20px;
  font-weight: 600;
   font-family: 'Montserrat', sans-serif; 
     margin-top: 80px;
} 

.header-content button a:hover  {
    color:#f26611; 
}

.header-content h1{
   color:#fff;    
  font-size:70px;
  font-weight: 800;
   font-family: 'Montserrat', sans-serif;     
  margin-bottom:0;
    margin-top: 150px;
}

.header-content span {
    padding: 0 20px;
}

.header-content h3{
   color:#fff;    
  font-size:30px;
  font-weight: 700;
margin: 30px auto 50px auto;
   font-family: 'Montserrat', sans-serif;     
  margin-bottom:0;
}

.header-content p{
   background: rgba(255,255,255,0.9);
    height:auto;
    width:auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);  
    padding: 25px 30px;
    border-radius: 10px;
  font-size:20px;
  display:block;
    color:#2b2b2b; 
     font-weight: 400;
   font-family: 'Montserrat', sans-serif; 
    margin-top: 30px;
    
}



/*.mission {
    background: rgba(255,255,255,0.9);
    height:auto;
    width:auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);  
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    margin-top: 25px auto 0 auto;
}

.mission h5{
   font-size:30px;
  font-weight: 800;
   font-family: 'Montserrat', sans-serif;       
  margin:10px auto;
     color:#2b2b2b; 
    letter-spacing:4px; 
}

.mission p{
   font-size:18px;
  font-weight: 600;
   font-family: 'Montserrat', sans-serif;       
  margin:10px auto;
     color:#2b2b2b; 
    letter-spacing:0px; 
}
*/


@media(max-width:1366px) {
  .header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
min-height: 600px;
  z-index:1;
  background:#f26611;
  opacity:0.60;
}  
}


@media(max-width:1024px){
 
     .container2{
    padding-right:auto;
    padding-left:auto;
         padding-top: 50px;
         margin:0 auto;
  }
    
    .header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
min-height: 600px;
  z-index:1;
  background:#f26611;
  opacity:0.60;
}
   

.header-content h1{
     color:#ffff; 
    font-size:40px;
  font-weight: 800;
   font-family: 'Montserrat', sans-serif;       
  margin-bottom:0;
    letter-spacing: 2px;
}
}


@media(max-width:720px){
 
    
 .navbar img{
    height: 70px;
    width : auto;
}
    
    
    .header-content h1{
   color:#ffff;    
  font-size:40px;
  font-weight: 800;
   font-family: 'Montserrat', sans-serif;     
  margin-bottom:0;
}

.header-content p{
   background: rgba(255,255,255,0.9);
    height:auto;
    width:auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);  
    padding: 25px 20px;
    border-radius: 10px;
  font-size:14px;
  display:block;
    color:#2b2b2b; 
     font-weight: 400;
   font-family: 'Montserrat', sans-serif; 
    margin-top: 30px;
    
}
    
    .header-content span {
    padding: 0 5px;
}

.header-content h3{
   color:#fff;    
  font-size:20px;
  font-weight: 700;
margin: 30px auto 50px auto;
   font-family: 'Montserrat', sans-serif;     
  margin-bottom:0;
}

    
    
}


@media(max-width:320px) {
     
    
     .navbar img{
    height: 55px;
    width : auto;
}
    
    .header-content h1{
   color:#ffff;    
  font-size:30px;
  font-weight: 800;
   font-family: 'Montserrat', sans-serif;     
  margin-bottom:0;
    margin-top: 90px;    
} 
    
     .header-content span {
    padding: 0 2px;
}

.header-content h3{
   color:#fff;    
  font-size:18px;
  font-weight: 700;
margin: 30px auto 50px auto;
   font-family: 'Montserrat', sans-serif;     
  margin-bottom:0;
}
    
}




/*****ABOUT US SECTION******/

.about-header{
        background:url(../img/about-bg2.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        width:100%;
        height:auto;
        padding-top:250px;
         padding-bottom:150px;
    }




.about-header h1 { 
    letter-spacing:3px;
    font-size: 75px;
    font-weight:800;
    color: #ffff;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
    
    
} 



#about{
       background:#fff;
        width:100%;
        padding:6% 10%;
        text-align: center;
    }




#about h3 {
    letter-spacing:2px;
    font-size: 35px;
    font-weight:800;
    color:#f26611;
    padding-top:7% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: left;
} 


#about p {
    line-height: 2em;
     font-size: 16px;
    text-align:left;
    margin-top: 2%;
}

@media(max-width:720px) {
    
.about-header{
        background:url(../img/about-bg3jpg.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        width:100%;
        height:auto;
        padding-top:200px;
         padding-bottom:100px;
    }




.about-header h1 {
    letter-spacing:3px;
    font-size: 55px;
    font-weight:800;
    color: #ffff;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
    
    
} 
    
    
    
#about{
       background:#fff;
       background-attachment:scroll;
        width:100%;
        padding:6% 2%;
        text-align: center;
    }
    
    #about h3 {
    letter-spacing:3px;
    font-size: 25px;
    font-weight:800;
    color:#f26611;
    padding-top:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: left;
} 

    
    #about p {
    text-align:justify;
    line-height: 2em;
     font-size: 16px;
}
    
}

/*****PROJECTS SECTION******/
.projects-header{
        background:url(../img/projects-bg.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        width:100%;
        height:auto;
        padding-top:250px;
         padding-bottom:150px;
    }




.projects-header h1 {
    letter-spacing:3px;
    font-size: 75px;
    font-weight:800;
    color: #ffff;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
    
    
} 

@media(max-width:720px) {
    
    .projects-header{
        background:url(../img/projects-bg2.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        width:100%;
        height:auto;
        padding-top:200px;
         padding-bottom:100px;
    }




.projects-header h1 {
    letter-spacing:3px;
    font-size: 55px;
    font-weight:800;
    color: #ffff;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
    
    
} 
    
}


embed {
        background-color: transparent;
    }
    

/*****OUR SERVICES SECTION******/
#service{
        background-color:#ededed;
        background-size:cover;
        height:auto;
        width:100%;
        padding:6% 0;
     
    }




#service h1 {
    letter-spacing:3px;
    font-size: 75px;
    font-weight:800;
    color: #f26611;
    padding-bottom:1% ;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
    
    
} 



#service p {
    color:#282828;
    font-size: 14px;
}

.service-card {
    background: rgba(255,255,255,1);
    height:auto;
    width:90%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);  
    padding:3%;
    margin: 0 auto;
    border-radius: 0px;
    border-left: #f26611 10px solid;
    margin-top: -130px;
    
    
}

.service-card h3 {
    letter-spacing:3px;
    font-size: 75px;
    font-weight:800;
    opacity: 0.8;
    color:#f26611;
    padding-bottom:1% ;
    font-family:'Montserrat', sans-serif;   
    text-align: left;
    margin-bottom: 1%;
} 


.service-card h3 span{
    border-bottom: 5px solid #f26611;
}

.service-card p {
    letter-spacing:1px;
    font-size: 14px;
    font-weight:300;
    color: #3A3A3A;
    opacity: 0.9;
    line-height: 1.8em;
    padding-bottom:5px;
    font-family:'Montserrat', sans-serif;   
    text-align: left;
} 

@media(max-width:720px)  {
    #service{
        background-color:#ededed;
        background-size:cover;
        height:auto;
        width:100%;
        padding:15% 0;
        
    }
    
    #service h1 {
    letter-spacing:3px;
    font-size: 45px;
    font-weight:800;
    color: #f26611;
    padding-bottom:1% ;
    margin-top: 50px;
    margin-bottom: 20px;    
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
    
    
} 

    
    .service-card {
    background: rgba(255,255,255,1);
    height:auto;
    width:90%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);  
    padding:3%;
    margin: 0 auto;
    border-radius: 0px;
    border-left: #f26611 10px solid;
    margin-top: -30px;
    
    
}

    
    .service-card h3 {
    letter-spacing:3px;
    font-size: 35px;
    font-weight:800;
    opacity: 0.8;
    color:#f26611;
    padding-bottom:1% ;
    font-family:'Montserrat', sans-serif;   
    text-align: left;
    margin-bottom: 7%;
} 

}


/*****SUPPORT******/

#support {
        background:url(../img/support.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        height:100vh;
        min-height: 700px;
        width:100%;
        padding:15% 0 10% 0;
        letter-spacing: 2px;
     
    }


#support  h2 {
    letter-spacing:3px;
    font-size: 65px;
    font-weight:800;
    margin-bottom: 30px;
    color: #ffff;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
} 


.support-card {
    background: rgba(255,255,255,0.9);
    height:20em;
    width:100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);  
    padding:10%;
    border-radius:5px;
    text-align: center;
    margin-top: 5%;
    
} 

.support-card button {
    background: #f26611; 
    padding: 7px 20px;
    border-radius: 50px;
    color:#fff;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif; 
}


.support-card button:hover{
   color:#fff;  
}

.support-card img {
    width:80px;
    height: auto;
    margin-bottom: 10px;
}

.support-card h4 {
    letter-spacing:1px;
    font-size: 25px;
    font-weight:800;
    color: #3A3A3A;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
    margin-top: 10px;
}


.support-card h6 {
    letter-spacing:1px;
    font-size:35px;
    font-weight:800;
    color: #3A3A3A;
    opacity: 0.5;
    line-height: 2em;
    font-family: 'Montserrat', sans-serif;   
    text-align:center;
} 


.modal-content {
    border:none!important;
}

@media(max-width:1024px) {
    
    
    #support {
        background:url(../img/support.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        height:auto;
        min-height: 700px;
        width:100%;
        padding:22% 0 10% 0;
        letter-spacing: 2px;
     
    }
    
     .support-card {
    background: rgba(255,255,255,0.9);
    height:auto;
    width:100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);  
    padding:10%;
    border-radius:5px;
    text-align: center;
    margin-top: 5%;
    
} 
    
}

@media(max-width:720px)  {
    #support {
        background:url(../img/support.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        height:auto;
        min-height: 700px;
        width:100%;
        padding:200px 0 25% 0;
        letter-spacing: 2px;
     
    }
    
    #support  h2 {
    letter-spacing:3px;
    font-size: 45px;
    font-weight:800;
    margin-bottom: 30px;
    color: #ffff;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
} 

    
    .support-card {
    background: rgba(255,255,255,0.9);
    height:auto;
    width:100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);  
    padding:10%;
    border-radius:5px;
    text-align: center;
    margin-top: 5%;
    
} 
}

/*****CONTACT SECTION******/


#contact {
         background:url(../img/contact-bg.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        width:100%;
        height:100vh;
        min-height:700px;
        width:100%;
        padding:15% 0 5% 0;
        letter-spacing: 2px;
      color:#ffff;
    }


#contact h1 {
     letter-spacing:3px;
    font-size: 70px;
    font-weight:600;
    color: #ffff;
    padding-bottom:5% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: left;
} 

#contact h4 {
     letter-spacing:1px;
    font-size: 20px;
    font-weight:normal;
    color: #ffff;
    padding-bottom:1%;
    margin-top:10px;
    font-family: 'Montserrat', sans-serif;   
    text-align:left;
} 

#contact h6 {
     letter-spacing:1px;
    font-size: 14px;
    font-weight:300;
    color: #ffff;
    line-height: 1.8em;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align:left;
} 


.ref-link {
    border-top: 1px #5c5c5c solid;
    margin-top: 165px;
}


.ref-link h5{
     font-size: 14px;
    font-weight:300;
    color: #ffff;
    line-height: 1.8em;
    padding-top:10px ;
    font-family: 'Montserrat', sans-serif;   
}


.ref-link h5 a {
    color:#fff;
}

.ref-link h5 a:hover {
    color:#fff;
}



footer {
    background-color:#1d1d1d;
    color: #fff;
    text-align: center;
    padding-top:2%;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;   
} 

footer p{
    font-size: 12px;
}

footer a {
    color:#fff;
    font-family: 'Montserrat', sans-serif;   
}

footer a:hover {
    color:#fff;
    font-family: 'Montserrat', sans-serif;   
}

.footer-img img {
    height:75px;
    width:auto;
}

@media(max-width:720px) {
    
#contact {
         background:url(../img/contact-bg.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        width:100%;
        height:auto;
        min-height:700px;
        width:100%;
        padding:45% 0 5% 0;
        letter-spacing: 2px;
      color:#ffff;
    }


#contact h1 {
     letter-spacing:3px;
    font-size: 50px;
    font-weight:700;
    color: #ffff;
    padding-bottom:5% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: left;
} 
    
    #contact h4 {
     letter-spacing:1px;
    font-size: 20px;
    font-weight:normal;
    color: #ffff;
    padding-bottom:1%;
    margin-top:30px;
    font-family: 'Montserrat', sans-serif;   
    text-align:left;
}
    
    .ref-link {
    border-top: 1px #5c5c5c solid;
    margin-top: 65px;
}
    
    
  .ref-link h5{
     font-size: 10px;
    font-weight:300;
    color: #ffff;
    line-height: 1.8em;
    padding-top:10px ;
    font-family: 'Montserrat', sans-serif;   
}
    
    footer {
    background-color:#1d1d1d;
    color: #fff;
    text-align: center;
    padding-top:5%;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;   
} 

footer p{
    font-size: 10px;
}

footer a {
    color:#fff;
    font-family: 'Montserrat', sans-serif;   
}

footer a:hover {
    color:#fff;
    font-family: 'Montserrat', sans-serif;   
}
  
}
